<footer class="bg-dark p-2 d-flex align-items-center">
    <a class="fs-5 fw-bold text-primary text-decoration-none me-5 logoHeader" href="/">Guy Shop</a>
    <span class="text-white">Explore, purchase and sell</span>
</footer>