<nav class="d-flex bg-dark p-2 justify-content-between align-items-center">
    <a class="fs-5 fw-bold text-primary text-decoration-none" href="/buyer-login">Guy Shop</a>
    <div class="d-flex">
        <a class="me-3 text-decoration-none text-primary" href="/buyer-login">Login as Buyer</a>
        <a class="me-3 text-decoration-none text-primary" href="/buyer-registration">Register as Buyer</a>
        <a class="me-3 text-decoration-none text-primary" href="/seller-login">Login as Seller</a>
        <a class="text-decoration-none text-primary" href="/seller-registration">Register as Seller</a>
    </div>
</nav>