<main>
    <header class="bg-primary bg-gradient mb-2 p-2">
        <h2 class="fw-bold">Products</h1>
    </header>

    <section class="p-3">
        <div id="productsContainer" class="d-flex productsList"></div>
    </section>
</main>