<%- include('./shared/html-head.ejs') %>

    <link rel="stylesheet" type="text/css" href="./css/sellers-list.css">
</head>

<body>
    <div class="d-flex flex-column h-100">
        <%- include('./shared/buyer-nav'); %>

        <main class="d-flex flex-column h-100">
            <header class="bg-primary bg-gradient p-2">
                <h2 class="fw-bold">Sellers</h1>
            </header>
        
            <section class="h-100 d-flex">
                <aside class="d-flex flex-column justify-content-center align-items-center sideNav h-100 me-2 p-2">
                    <input id="searchByUsernameInput" type="text" class="form-control mt-3" placeholder="Search Username" />
        
                    <input id="searchByMinPriceInput" type="text" class="form-control mt-3" placeholder="Min Price" onkeypress="return /[0-9]/i.test(event.key)" />
                    
                    <input id="searchByMaxPriceInput" type="text" class="form-control mt-3" placeholder="Max Price" onkeypress="return /[0-9]/i.test(event.key)" />
        
                    <button id="searchButton" type="button" class="btn btn-primary mt-3 w-100">Search</button>
                </aside>
        
                <div id="sellersContainer" class="d-flex sellersContainer w-100 mt-2 align-items-start"></div>
            </section>
        </main>
    </div>

    <%- include('./shared/footer'); %>
</body>

<%- include('./shared/html-scripts.ejs') %>

    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzdzJYxrs5pLeOZDcldabztObOa0Stdvc"></script>

    <script src="./js/buyer-nav.js"></script> 
    <script src="./js/sellers-list.js"></script> 

</html>