<%- include('./shared/html-head.ejs') %>
    <link rel="stylesheet" type="text/css" href="./css/seller-login.css">
</head>

<body>
    <div class="d-flex flex-column h-100">
        <%- include('./shared/guest-nav.ejs') %>

        <main class="d-flex align-items-center justify-content-center h-100">
            <form id="loginForm" class="d-flex flex-column loginForm p-3">
                <h1>Seller Login</h1>

                <label class="mt-3" for="sellerLoginUsernameInput">Enter a Username</label>
                <input type="text" class="form-control" id="sellerLoginUsernameInput" />

                <label class="mt-3" for="sellerLoginPasswordInput">Enter your Password</label>
                <input type="password" class="form-control" id="sellerLoginPasswordInput" />

                <button class="btn btn-primary mt-3" type="submit">Login</button>

                <span class="d-none mt-3 alert alert-danger" id="formError"></span>
            </form>
        </main>
    </div>
</body>

<%- include('./shared/html-scripts.ejs') %>
<script src="./js/seller-login.js"></script> 

</html>