.productsList {
    width: 100%;
    flex-wrap: wrap;
    max-height: 400px;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #e5e5e5;
}

.productItem {
    box-shadow: 4px 4px 5px #8c8c8c;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    width: 20%;
    max-width: 500px;
    min-width: 300px;
    text-decoration: none;
    background-color: white;
}